@using Microsoft.Office365.OAuth
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@Model.Exception.ToString()

@if (@Model.Exception is AuthenticationFailedException)
{
    @Html.Raw((@Model.Exception as AuthenticationFailedException).ErrorCode)
    @Html.Raw((@Model.Exception as AuthenticationFailedException).ErrorDescription)
}
